---
layout: page
title: "About"
description: "UX Designer Seunghwan Jang, at AB180"
header-img: "img/about.png"
multilingual: true
---

{% include multilingual-sel.html %}

<!-- Korean Version -->
<div class="kr post-container">
    {% capture about_kr %}{% include about/kr.md %}{% endcapture %}
    {{ about_kr | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>

